<!DOCTYPE html>
<html lang="en">
<head>
	<title>File Upload using Node.js</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="Narayanan Ts">
	<meta name="description" content="File upload using Node.js">
	<meta name="keywords" content="File Upload using Node.js">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="container">
		
	</div>
</body>
</html>